@model IEnumerable<ProEvoStats_EVO7.Models.Parelha>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="post" class="row" id="filterForm">
    <div class="form-group col-md-4">
        <label for="temporadaId" class="control-label">Temporada:</label>
        <select id="temporadaId" name="temporadaId" asp-items="ViewBag.TemporadaId" class="form-control" onchange="document.getElementById('filterForm').submit();">
            <option value="">Todas</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="jogadorId" class="control-label">Jogador:</label>
        <select id="jogadorId" name="JogadorId" asp-items="ViewBag.JogadorId" class="form-control" onchange="document.getElementById('filterForm').submit();">
            <option value="">Todas</option>
        </select>
    </div>
    <div class="form-group col-md-12">
        <a href="@Url.Action("Index", "Parelhas")" class="btn btn-secondary">Limpar</a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jogador1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogador2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temporada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Jogador1.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jogador2.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temporada.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
