@using ProEvoStats_EVO7.ViewModels
@model List<EquipaEstatisticasViewModel>

@{
    Layout = "_ViewComponentLayout";
}

<table class="table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>Equipa</th>
            <th>J</th>
            <th></th>
            <th>V</th>
            <th>E</th>
            <th>D</th>
            <th></th>
            <th>Gm</th>
            <th>Gs</th>
            <th>dG</th>
            <th></th>
            <th>Pontos</th>
        </tr>
    </thead>
    <tbody>
        @{
            int position = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@(position++)</td>
                    <td>@item.Equipa</td>
                    <td>@item.Contagem</td>
                    <td></td>
                    <td>@item.Vitorias</td>
                    <td>@item.Empates</td>
                    <td>@item.Derrotas</td>
                    <td></td>
                    <td>@item.GolosMarcados</td>
                    <td>@item.GolosSofridos</td>
                    <td>@item.DiferencaDeGolos</td>
                    <td></td>
                    <td>@item.Pontos</td>
                </tr>
            }
        }
    </tbody>
</table>
